<form method="post" id ="add_category" action="/categories/create" class="pt-2">
    <div class="form-group">
        <input class="form-control" name='name' placeholder="Наименование">
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>
<hr>
<form method="post" id ="delete_category" action="/categories/delete" class="pt-2">
    <div class="form-group">
        <select class="form-select w-select" name='category' id = 'add-category-list' required>
            <option selected disabled value="">Выберите категорию</option>
            <% if (!locals.data) locals.data = {} %>
            <% if (!locals.data.categories) locals.data.categories = [] %>
            <% for(let category of data.categories) { %>
            <option value="<%=category._id%>"><%=category.name%></option>
            <% } %>
        </select>
    </div>
    <button type="submit" class="btn btn-danger">Удалить</button>
</form>